
<div class="container-home">
  <h1>Sofia GS</h1>
    <h2>FullStack Developer</h2>
    <p>Do not try and bend the spoon.</p>
     <p>That’s impossible. Instead… only try to realize the truth.</p>
      <p>What truth?</p>
      <p>There is no spoon.</p>
      <p>There is no spoon?</p>
     <p> Then you’ll see, that it is not the spoon that bends, it is only yourself.</p>
</div>

