body {
  background-color: #000000;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 95px;
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 45px;
}

 p {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
 }
