
// properties
$angle: skewY(30.0deg);

// mixins
@mixin transform($angle) {
  -webkit-transform: $angle;
  -moz-transform: $angle;
  -ms-transform: $angle;
  -o-transform: $angle;
  -webkit-backface-visibility: hidden;
}

// extends
%justify-flex-center {
  display: flex;
  justify-content: center;
}

//----headers/gen-----//

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  margin:0 auto;
}

header {
  display: flex!important;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-shadow: 5px 4px 14px black;
  position: absolute;
  z-index: 1000;
  top: 100px;
}

h1 {
  font-family: $header-font;
  font-size: 95px;
  font-weight: 300;
  border-bottom: 2px solid $color-beta;
  width: 100%;
  padding-top: -100px;
  color: $white;

}

header h2 {
  font-family: $header-font;
  font-size: $header-size;
  margin-top: 40px;
  padding-top: 100px;
}

h2 {
  @extend %justify-flex-center;
  font-family: $header-font;
  font-size: $header-size;
  color: $black;
  margin-top: 100px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: $header-size;
  color: #9a9a9a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

a {
    @extend %justify-flex-center;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 25px;
    &:hover {
    }
  }

.section-B {
  position: relative;


 p {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    padding: 24px;
    color: $white;
    margin: 20px 20px;
    border-radius: 15px;
    margin: 20px 130px;
    text-align: center;
}

//-------about------//

section {
  background-color: $black;
  position: absolute;

}
// #about-container {
//   height: 75vh;
// }


#about-height-container {
  max-height: 100vh;
}

.wrapper {
  border: 2px solid #60cd72;
  margin: 80px;
  border-radius: 20px;
  background: #181c23;
}

#about-container h2 {
  font-family: $header-font;
  // font-size: $header-size;
  text-shadow: 2px 1px 2px #cc70db;
  font-size: 57px;
  margin-top: 50px;
  color: $white;
  text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff, 0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
}

.about {
  max-height: nowrap;
}

#about-height-container p {
  overflow: scroll;
  text-align: center;
  color: $white;
  background: none;
  border: none;
  max-height: 100vh;
}

#technical-skills p {
  text-align: center;
  margin-top: 50px;
  border: 1px solid black;
  color: $white;
  margin-bottom: 52px;
}

// _____slanted bars_____ //


.projects-container {
  border-top: 2px solid $color-beta;
  height: 155vh;
  background: $black;
}

#projects {
  height: 120vh;
  position: relative;
 }

#projects h2 {
  font-family: $header-font;
  font-size: 57px;
  color: $white;
  position: relative;
  z-index: 1;
  top: -58px;

  // margin-top: 140px;
  // position: absolute;
  // z-index: 1;
  // bottom: 85%;
  // left: 50%;
  // margin-left: -154.5px;
  text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff, 0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
 }

//------contact--------//

footer {
  padding-bottom: 1px;
  background-color: $black;
}

#contact h2 {
  font-size: 57px;
  padding: 30px;
  font-family: "Sacramento", cursive;
  color: $white;
  text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff, 0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  margin-top: 0px;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}


#contact p {
  @extend %justify-flex-center;
  font-family: $text-font;
  font-size: 20px;
  color: $white;
  padding-bottom: 0px;
  margin-top: -15px;
}

.photo-credit {
  font-family: $text-font;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  color: gray;
  padding-right: 5px;

    a {
    font-family: $text-font;
    font-size: 12px;
    color: gray;
    padding-left: 5px
  }
}

.social-media-links {
  @extend %justify-flex-center;

  i {
    font-size: 50px;
  }
}

a .fa-linkedin {
  color: $color-beta;
}

.fa-linkedin:hover {
  color: $hover-green;
}

a .fa-github-square {
  color: $color-beta;
}

.fa-github-square:hover {
  color: $hover-green;
}

#github {
  padding-left: 35px;
  }
}




