

  /*font-family: 'Pacifico', cursive;
  font-family: 'Amiri', serif;
   font-family: 'Cinzel', serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Khand', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Tomorrow', sans-serif;
font-family: 'Megrim', cursive;
 /* font-family: 'Inconsolata', monospace;*/
 /*font-family: 'Arvo', serif;*/
/* font-family: 'Oxanium', cursive;*/

 /* font-family: 'Orbitron', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/
    /* font-family: 'Arvo', serif; */
    /* font-family: 'Oxanium', cursive; */
