<div class="links">
  <%= link_to "About Me", "#about"%>
  <%= link_to "Projects", "#projects"%>
  <%= link_to "Contact", "#contact"%>
</div>


<div class="header">
  <%= render 'layouts/shared/header' %>
</div>

<div id="about">
  <h2>About Me</h2>
    <p>There are strange things done in the midnight sun by the men who moil for gold. The artic trails have their secret tails that could make your blood run cold. The northern lights have seen queer sights but the queerest the ever did see was that nigt on the marge of lake LeBarge when I cremated Sam McGee.</p>
  <h2>Cirriculum Vitae</h2>
</div>

<div id="projects">
  <h2>Projects</h2>
  <a href=""></a>
  <a href=""></a>
  <a href=""></a>

</div>



<div id="contact">
  <h2>Contact Me</h2>
    <p>Sofia G.S. </p>
    <p>Berlin, Germany</p>
    <p>sgandsteph@gmail.com</p>
  <h3>Follow me</h3>
    <a href="www.linkedin.com/in/sofiags">LinkedIn</a>
    <a href="https://github.com/steph-crypt">Github</a>
</div>
