<div class="links">
  <%= link_to "About Me", "#about"%>
  <%= link_to "Projects", "#projects"%>
  <%= link_to "Contact", "#contact"%>
</div>

<div class="header">
  <%= render 'layouts/shared/header' %>
</div>

<div id="about">
  <h2>About Me</h2>
    <p>I am a Fullstack Ruby on Rails web developer with a background in linguistics and writing. Coding engages my practical love of languages and logic with the incredible potency of computational rendering. For most of my life, I was resistant to technology and quite skeptical of it. When I began coding it was as though the veil had been lifted from the mysteriously powerful object that digitization is, and I came to see that all modern technology is compiled of beautifully, masterfully, creatively braided strands of logic, engineered by human genius. Realizing this, I became obsessed with the infinite potential of coding.
Manifesto:
Coding is human magic. It can be used to create anything in reality, reshape or redirect it. It can be used to bring people together across worlds; it can be a tool of social justice, serving the public in uncountable ways. And it can be used to divide people, create alienation of the self and the environment, incite hatred or nurture apathy. The first 30 or so years of the internet has been largely experimental, with humans trying to figure out what this internet-thing can do. Now that we have set the landscape, we can better understand its scope of possibilities. We know we can play media, share photos, and fan the flames of FOMO. Fine. What else can we do? What can we do with this magic wand to truly serve the public?
</p>
  <h2>Cirriculum Vitae</h2>
</div>

<div id="projects">
  <h2>Projects</h2>
    <a class="tastebudd" href="http://www.taste-budd.com/"><img src="TasteBudd.png" alt="TasteBudd"></a>
    <p>Solo Travelers, welcome to TasteBudd! Here you can find the spontaneous buddies of your dreams to hang out and taste a new culture with.</p>
    <a class="deathbed" href="http://www.Death-Bed.com/"><img src="DeathBed.png" alt="DeathBed"></a>
    <p>DeathBed is a dark comical satire on AirBnB, allowing hosts to lease and guests to rent a grave in Germany for as long as they need.
    Hosts can rent anything from a formal plot in a cemetary, to a hole in their backyard and guests can leave reviews from the Great Beyond and renew their booking at any time.</p>
    <a class="socktails" href="https://socktails-cocktails.herokuapp.com/"><img src="Socktails.png" alt="Socktails Cocktails"></a>
    <p>Inspired by Dr. Seuss's Fox in Socks, Socktails Cocktails is a webpage hebstage where you can find, add, create or incubate the recipes of your favorite cocktails and socktails</p>
    <a class="haunted" href="https://haunted-keyboard.herokuapp.com/"><img src="haunted.png" alt="Haunted Keyboard"></a>
    <p>Spook yourself with eerie sounds from the Haunted Keyboard</p>
</div>

<div id="contact">
  <h2>Contact Me</h2>
    <p>Sofia G.S. </p>
    <p>Berlin, Germany</p>
    <p>sgandsteph@gmail.com</p>
  <h3>Follow me</h3>
    <div id="linkedin"><a href="www.linkedin.com/in/sofiags">LinkedIn</a></div>
   <div id="github"><a href="https://github.com/steph-crypt">Github</a></div>
</div>


<div>
  hey
</div>

<div>
  ho
</div>

<div>
  heyyyo
</div>
