<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sofia SG</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Arvo|Audiowide|Bai+Jamjuree|Bellota|Fugaz+One|Gugi|Indie+Flower|Istok+Web|Julius+Sans+One|Khand|Lexend+Tera|Megrim|Montserrat+Alternates|Orbitron|Oxanium|Playfair+Display|Shrikhand|Tomorrow|Wire+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amiri|Inconsolata&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Montserrat+Subrayada|Pacifico&display=swap" rel="stylesheet">
</head>
<body>

  <div class="links">
    <div class="box-1">
      <div class="btn btn-one">
        <a href="#about" style="text-decoration: none">About</a>
      </div>
    </div>
    <div class="box-1">
      <div class="btn btn-one">
        <a href="#projects" style="text-decoration: none">Projects</a>
      </div>
    </div>
    <div class="box-1">
      <div class="btn btn-one">
        <a href="#contact" style="text-decoration: none">Contact</a>
      </div>
    </div>
  </div>
  <header>
    <h1>Sofia Stephenson</h1>
  </header>

  <section id="section07" class="demo">
    <a href="#section07"><span></span></a>

        <h2>FullStack Developer</h2>

    <div class="container">
      <div class="text">Do not try and bend the spoon.</div>
    </div>
  <div id="about">
    <h2>About Me</h2>
      <p>I am a Fullstack Ruby on Rails web developer with a background in linguistics and writing. Coding engages my practical love of languages and logic with the incredible potency of computational rendering. When I began coding it was as though the veil had been lifted from the mysteriously powerful object that digitization is, and I came to see that all modern technology is compiled of beautifully, masterfully, creatively braided strands of logic, engineered by human genius. Realizing this, I became obsessed with the infinite potential of coding. Coding is human magic.</p>
  </div>

<nav>
  <a href="#maincode">Maincode</a>
  <a href="#whatis">What is #Maincode?</a>
  <a href="#participate">How to participate?</a>
  <a href="#happening">What's happening?</a>
  <a href="#costs">Costs and price?</a>
  <a href="#sponsorus">Sponsor us</a>
</nav>
</section>

<button class="toggle-nav entypo-menu"></button>
<div class="wrapper">
  <section id="maincode">
    <article>
      <h1>Maincode</h1>
      <p>Welcome to #Maincode! You're a web-dev? A web-designer? From around Frankfurt? Awesome, you found the right spot to make your dreams come true.</p>
      <p>Already excited and intersted to hear more? Nice, go on and scroll down.</p>
    </article>
  </section>
  <section id="whatis">
    <article>
      <h1>What is #Maincode?</h1>
      <p>First of all it is for developers and designers around Frankfurt. It's a hackday with different topics each time. <a href="https://kevingimbel.com">Kevin</a>, <a href="http://timpietrusky.com">Tim</a> and <a href="http://myxotod.de">Max</a> invented this event to share experience and have a nice time together with other internet geeks.</p>
      <p>The event takes place at different locations each time. Even more excited to take part? Scroll down.</p>
    </article>
  </section>
  <section id="participate">
    <article>
      <h1>How to participate?</h1>
      <p>We'll let you know on this website and you can sign up for a newsletter which will keep you informed.</p>
    </article>
  </section>
</div>

  <div id="projects">
    <h2>Projects</h2>
      <a class="tastebudd" href="http://www.taste-budd.com/"><img src="images/TasteBudd.png" alt="TasteBudd"></a>
      <p>Solo Travelers, welcome to TasteBudd! Here you can find the spontaneous buddies of your dreams to hang out and taste a new culture with.</p>
      <a class="deathbed" href="http://www.Death-Bed.com/"><img src="images/DeathBed.png" alt="DeathBed"></a>
      <p>DeathBed is a dark comical satire on AirBnB, allowing hosts to lease and guests to rent a grave in Germany for as long as they need.
      Hosts can rent anything from a formal plot in a cemetary, to a hole in their backyard and guests can leave reviews from the Great Beyond and renew their booking at any time.</p>
      <a class="socktails" href="https://socktails-cocktails.herokuapp.com/"><img src="images/Socktails.png" alt="Socktails Cocktails"></a>
      <p>Inspired by Dr. Seuss's Fox in Socks, Socktails Cocktails is a webpage hebstage where you can find, add, create or incubate the recipes of your favorite cocktails and socktails</p>
      <a class="haunted" href="https://haunted-keyboard.herokuapp.com/"><img src="images/haunted.png" alt="Haunted Keyboard"></a>
      <p>Spook yourself with eerie sounds from the Haunted Keyboard</p>
  </div>

  <footer id="contact">
    <h2>Contact Me</h2>
      <p>Sofia G.S. </p>
      <p>Berlin, Germany</p>
      <p>sgandsteph@gmail.com</p>
    <h3>Follow me</h3>
      <div id="linkedin"><a href="www.linkedin.com/in/sofiags">LinkedIn</a></div>
     <div id="github"><a href="https://github.com/steph-crypt">Github</a></div>
  <footer>

     <div id="test">test</div>

  <script>
    $(function() {
    $('a[href*=#]').on('click', function(e) {
      e.preventDefault();
      $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 3000, 'linear');
    });
  });
  </script>

  <script>
  class TextScramble {
    constructor(el) {
      this.el = el
      this.chars = '!<>-_\\/[]{}—=+*^?#________'
      this.update = this.update.bind(this)
    }
    setText(newText) {
      const oldText = this.el.innerText
      const length = Math.max(oldText.length, newText.length)
      const promise = new Promise((resolve) => this.resolve = resolve)
      this.queue = []
      for (let i = 0; i < length; i++) {
        const from = oldText[i] || ''
        const to = newText[i] || ''
        const start = Math.floor(Math.random() * 40)
        const end = start + Math.floor(Math.random() * 40)
        this.queue.push({ from, to, start, end })
      }
      cancelAnimationFrame(this.frameRequest)
      this.frame = 0
      this.update()
      return promise
    }
    update() {
      let output = ''
      let complete = 0
      for (let i = 0, n = this.queue.length; i < n; i++) {
        let { from, to, start, end, char } = this.queue[i]
        if (this.frame >= end) {
          complete++
          output += to
        } else if (this.frame >= start) {
          if (!char || Math.random() < 0.28) {
            char = this.randomChar()
            this.queue[i].char = char
          }
          output += `<span class="dud">${char}</span>`
        } else {
          output += from
        }
      }
      this.el.innerHTML = output
      if (complete === this.queue.length) {
        this.resolve()
      } else {
        this.frameRequest = requestAnimationFrame(this.update)
        this.frame++
      }
    }
    randomChar() {
      return this.chars[Math.floor(Math.random() * this.chars.length)]
    }
  }

  // ——————————————————————————————————————————————————
  // Example
  // ——————————————————————————————————————————————————

  const phrases = [
    'Do not try and bend the spoon.',
    'That’s impossible.',
    'Instead…',
    'only try to realize the truth.',
    'What truth?',
    'There is no spoon.',
    'Then you’ll see,',
    'that it is not the spoon that bends,',
    'it is only yourself.'
  ]

  const el = document.querySelector('.text')
  const fx = new TextScramble(el)

  let counter = 0
  const next = () => {
    fx.setText(phrases[counter]).then(() => {
      setTimeout(next, 3000)
    })
    counter = (counter + 1) % phrases.length
  }

  next()
  </script>

  <script>
$(document).ready(function() {
  var navOpen = false;
  $('.toggle-nav').click(function() {
    if (navOpen == false) {
      $('.wrapper').css("position", "absolute").animate({
        left: "30%"
      });
      $(this).animate({
        left: "30%"
      }).removeClass("entypo-menu").addClass("entypo-cancel");
      $('nav').animate({
        left: "0%"
      });
      navOpen = true;
    } else {
      $('.wrapper').animate({
        left: "0%"
      }, function() {
        $(this).css("position", "relative");
      });
      $(this).animate({
        left: "0%"
      }).removeClass("entypo-cancel").addClass("entypo-menu");
      $('nav').animate({
        left: "-30%"
      });
      navOpen = false;
    }
  });

  // Smooth Anchor Scrolling
  $('a').click(function(){
    $('html, body').animate({
        scrollTop: $($(this).attr('href')).offset().top
    }, 500);
    return false;
  });
});


Resources
  </script>
</body>
</html>
