<div class="header"><%= render 'layouts/shared/header' %></div>

<div class="links">
<%= link_to "projects", "#projects"%>
<%= link_to "About Me", "#about"%>
<%= link_to "Contact", "#contact"%>
</div>

<div id="projects">

</div>


<div id="about">

</div>

<div id="contact">

</div>
