<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.2.0/dist/simpleParallax.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <%= render 'layouts/banner' %>

<div class="section-B">
  <div id="section07" class="demo">
    <a href="#section07"><span></span></a>

      <section class="section-c">

        <%= render 'layouts/about' %>

        <div>
          <img class="thumbnail-2" src="alex-perez-copy.jpg" alt="Pattern" style="display: flex; justify-content: center; width: 200%; height: 300px;">
        </div>
        <div class="main-container"></div>

        <%= render 'layouts/projects' %>

        <%= render 'layouts/footer' %>

        <script>
          jQuery(document).ready(function(){
  if( $('.cd-stretchy-nav').length > 0 ) {
    var stretchyNavs = $('.cd-stretchy-nav');

    stretchyNavs.each(function(){
      var stretchyNav = $(this),
        stretchyNavTrigger = stretchyNav.find('.cd-nav-trigger');

      stretchyNavTrigger.on('click', function(event){
        event.preventDefault();
        stretchyNav.toggleClass('nav-is-visible');
      });
    });

    $(document).on('click', function(event){
      ( !$(event.target).is('.cd-nav-trigger') && !$(event.target).is('.cd-nav-trigger span') ) && stretchyNavs.removeClass('nav-is-visible');
    });
  }
});
        </script>

          <script>
            $(function() {
            $('a[href*=#]').on('click', function(e) {
              e.preventDefault();
              $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 3000, 'linear');
            });
          });
          </script>

          <script>
          class TextScramble {
            constructor(el) {
              this.el = el
              this.chars = '!<>-_\\/[]{}—=+*^?#________'
              this.update = this.update.bind(this)
            }
            setText(newText) {
              const oldText = this.el.innerText
              const length = Math.max(oldText.length, newText.length)
              const promise = new Promise((resolve) => this.resolve = resolve)
              this.queue = []
              for (let i = 0; i < length; i++) {
                const from = oldText[i] || ''
                const to = newText[i] || ''
                const start = Math.floor(Math.random() * 40)
                const end = start + Math.floor(Math.random() * 40)
                this.queue.push({ from, to, start, end })
              }
              cancelAnimationFrame(this.frameRequest)
              this.frame = 0
              this.update()
              return promise
            }
            update() {
              let output = ''
              let complete = 0
              for (let i = 0, n = this.queue.length; i < n; i++) {
                let { from, to, start, end, char } = this.queue[i]
                if (this.frame >= end) {
                  complete++
                  output += to
                } else if (this.frame >= start) {
                  if (!char || Math.random() < 0.28) {
                    char = this.randomChar()
                    this.queue[i].char = char
                  }
                  output += `<span class="dud">${char}</span>`
                } else {
                  output += from
                }
              }
              this.el.innerHTML = output
              if (complete === this.queue.length) {
                this.resolve()
              } else {
                this.frameRequest = requestAnimationFrame(this.update)
                this.frame++
              }
            }
            randomChar() {
              return this.chars[Math.floor(Math.random() * this.chars.length)]
            }
          }

          const phrases = [
           'Frontend Developer.',
            // 'Translator.',
            'Lady.'
          ]

          const el = document.querySelector('.text-animation')
          const fx = new TextScramble(el)

          let counter = 0
          const next = () => {
            fx.setText(phrases[counter]).then(() => {
              setTimeout(next, 3000)
            })
            counter = (counter + 1) % phrases.length
          }

          next()
        </script>

        <script src="./parallax.js"></script>
          <script>
          var scene = document.getElementById('scene');
          var parallax = new Parallax(scene, {
          });
          </script>

        <script src="simpleParallax.js"></script>

        <script>
          var image = document.getElementsByClassName('thumbnail');
        new simpleParallax(image, {
        scale: 3.0
        });

        var image = document.getElementsByClassName('thumbnail-2');
      new simpleParallax(image, {
        orientation: 'right'
      });

        </script>

        <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script>
          <script>
            new Glide('.glide').mount()
          </script>


    </section>
  </div>
</div>


