.projects-contaner {
  height: 150vh;
  position: relative;

.slide {
  position: relative;
  color: black
}

h5 {
  margin-top: -20px;
}

 .carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    color: black;


 //   .carousel-caption h5 {
 //  position: absolute;
 //  top: 60px;
 //  left: 348px;
 // }

  .carousel-caption p {
  position: absolute;
  bottom: -100px;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
  }
}
}

.caption-text {
  height:150px;
  min-height:150px;
  max-height:150px;

}

.projects-contaner .carousel-indicators {

  li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: black;
    background-color: black;
    top: -500px;
  }
}

.projects-contaner .carousel-control-prev-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 29px solid black;
  background-image: none;
  margin-bottom: 130px;
  margin-left: 90px;
}

.projects-contaner .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 29px solid black;
  background-image: none;
  margin-bottom: 130px;
  margin-right: 90px;
}


.projects-contaner .carousel-control-next-icon:after
{
  content: '>';
  z-index: 1;
  font-size: 55px;
  color: red;

}

.projects-contaner .carousel-control-prev-icon:after {
  content: '<';
  z-index: 1;
  font-size: 55px;
  color: red;
  position: relative;
  bottom: 10px;
}


.website img {
    // max-width: 600px;
    // height: 468px;
    // border: 1px solid #61cd72;
    // border-radius: 10px;
    margin-top: 55px;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
      // outline: 5px solid black;
      // outline-radius: 10px;

}
