.projects-contaner {
  height: 150vh;
  position: relative;

.fixed-width {
    min-width: 2000px;
}


.slide {
  position: relative;
  color: black
}

h5 {
  margin-top: -20px;
}

 .carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    color: black;

  .carousel-caption p {
  position: absolute;
  bottom: -100px;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
  }
}
}

.caption-text {
  height:150px;
  min-height:150px;
  max-height:150px;
}

.projects-contaner .carousel-indicators {

  li {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    color: black;
    background-color: black;
    top: -5px;
    size: 20px;
  }
}

.fixed-height {
  height: -600px;
}


.projects-contaner .carousel-control-prev-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 29px solid black;
  background-image: none;
  margin-bottom: 130px;
  margin-left: 90px;
  position: relative;
}

.projects-contaner .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 29px solid black;
  background-image: none;
  margin-bottom: 130px;
  margin-right: 90px;
  position: relative;
}


.projects-contaner .carousel-control-next-icon:after
{
  content: '>';
  z-index: 1;
  font-size: 55px;
  color: red;
  position: absolute;
  top: -25px;
  right: 40px;
}

.projects-contaner .carousel-control-prev-icon:after {
  content: '<';
  z-index: 1;
  font-size: 55px;
  color: red;
  bottom: 10px;
  position: absolute;
  top: -25px;
  left: 40px;
}

.website img {
  margin-top: 55px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
}
