/*__________________________
floating text
__________________________*/
.text-animation {
  font-weight: 100;
  font-size: 60px;
  color: $color-beta;
  font-family: $cursive-font;
  display: flex;
  transform: translate3d(0px, 0px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
  display: block;
  top: 100px;

}
.dud {
  color: #757575;
}
