/*__________________________
floating text
__________________________*/
.container {
  display: flex;
  justify-content: center;
  font-size: 40px;
  align-items: center;
}
.text {
  font-weight: 100;
  font-size: 28px;
  color: #FAFAFA;
  font-family: 'Bai Jamjuree', sans-serif;
  display: flex;
  justify-content: center;

}
.dud {
  color: #757575;
}
