@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

header {
  position: relative;
}

ul {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -130px;
}

li a {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 120px;
  font-size: calc(15px + 3vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
   0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff;
  font-family: "Sacramento", cursive;
  text-align: center;
}

li a:hover {
  color: black;
  text-decoration: none;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #fccaff;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
   color: #fccaff;
text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #fccaff;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  }
}
