#scene {
  animation: color-change 10s infinite;
  text-align: center;
  font-weight: 300;
  border-bottom: 2px solid $color-beta;
  margin-bottom: 1em;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: -100px;
  color: white;
}

@keyframes color-change {
  0% { color: #fbc0d6; }
  20% { color:#b7889a; }
  40% { color: #bb5a7f; }
  60% { color: #ff3081; }
  80% { color: #bb5a7f; }
  100% { color:#b7889a; }
  // 120% { color: #fbc0d6; }
}
