

// .thumbnail {
//   width: 100px;
//       height: 500px;
//     width: 1000px;
// }


$color-alpha: #eeeeee;
$color-beta: #2ecc71;
$color-gamma: #333333;


h1 {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  border-bottom: 2px solid $color-beta;
  margin-bottom: 1em;
}

  a {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    background: rgba($color-gamma, 0.5);
    border-bottom: 2px solid $color-beta;
    text-transform: uppercase;
    &:hover {
      border-bottom: 2px solid $color-beta;
      background: rgba($color-alpha, 0.5);
    }
  }


