<div id="about-container">
  <div class="wrapper">
 <!--  <div class="row">
    <div class="about col-12 col-lg-8"> -->
      <h2>About Me</h2>
      <div id="about-height-container">
        <p>
            <!--
            Coding engages my practical love of languages and logic with the incredible power of computers.
            Through coding it is possible to conceive that all modern technology is compiled of beautifully,
            masterfully, creatively braided strands of logic with infinite potential, engineered by human genius.
            It is human magic. -->
            I am a Junior Frontend developer based in Berlin, Germany; lover of human and machine languages alike.
            As a graduate of Le Wagon Coding bootcamp, I have experience building multiple projects
            from the back to front-end. As a Frontend developer I build beautiful, visually compelling, dynamic websites.
            And with my diverse set of skills, I can integrate and work with the backend of a website in a pinch.

          <br/><br/>
            Additionally, I love laser tag, speak Arabic, write comedy, and have a baby addiction...
         </p>
    </div>
    <div id="technical-skills">
      <p>
       <em>Technical Skills</em><i class="fas fa-laptop-code"></i>
        <br>
       Ruby, Ruby on Rails, ES6 JavaScript, CSS, SCSS, SASS, Bootstrap, HTML, GIT and workflow, APIs, JSON/XML, <br> scraping, Python scraping,  Webpack, SQL, Postgres, Heroku.
      </p>
    </div>
  <!--   </div> -->
<!--       <div class="photo col-12 col-lg-4"> -->
      <!--   <picture>
          <img src="sofia_blue3.jpg.png" alt="Sofia Photo">
        </picture> -->
     <!--    <style>
          picture { display: none; }

          @media (min-width: 550px) {
            picture {
              display: block;
            }
          }
        </style> -->
   <!--    </div>
    </div> -->
    </div>
</div>

