<div id="about-container">
  <div class="row">
    <div class="about col-12 col-lg-8">
      <h2>About Me</h2>
      <p>Frontend Web Developer. Translator. Lady.
        <br>
        I am a Junior Web developer and lover of human and machine languages alike. Before getting into coding I worked in the Middle East with NGOs and in schools.
       Some time ago I began coding and became obsessed with it.
        Coding engages my practical love of languages and logic with the incredible power of computers.
         When I began coding it was as though the veil had been lifted from the mysteriously powerful object that digitization is,
          and I came to see that all modern technology is compiled of beautifully, masterfully, creatively braided strands of logic,
        engineered by human genius. Realizing this, I became obsessed with the infinite potential of coding. Coding is human magic.
         I went on to study at Le Wagon coding bootcamp in Autumn 2019, and have since then buried myself in projects, and ravenously devour new logical concepts, syntax, and doughnuts.
         Additionally, I love laser tag, speak Arabic, write comedy, and have a fatal baby addiction...
       </p>
    </div>
    <div class="photo col-12 col-lg-4">
      <img src="sofia_blue3.jpg.png" alt="Sofia Photo">
    </div>
  </div>
  <div id="technical-skills">
    <p>
     Technical Skills
     <br>
     Ruby, Ruby on Rails, ES6 JavaScript, CSS, SCSS, Bootstrap, HTML, GIT and workflow, APIs, JSON/XML, scraping, Python scraping,  Webpack, SQL, Postgres, Heroku.
    </p>
  </div>
</div>
