<div id="about-container">
  <div class="row">
    <div class="about col-12 col-lg-8">
      <h2>About Me</h2>
      <div id="about-height-container">
        <p>Frontend Web Developer. Translator. Lady.
          <br>
            I am a Junior Web developer and lover of human and machine languages alike.
            Coding engages my practical love of languages and logic with the incredible power of computers.
            Through coding it is possible to recognize that all modern technology is compiled of beautifully,
            masterfully, creatively braided strands of logic engineered by human genius. In this recognition,
            I am obsessed with the infinite potential of coding. It is human magic.
            I build bueautiful, visually compelling websites. I am an alumnus of Le Wagon Coding Bootcamp, and since my immersion into programming via bootcamp
            in December 2020, have buried myself in projects, ravenously devouring new logical concepts, syntax, and doughnuts.
          <br/><br/>

          Additionally, I love laser tag, speak Arabic, write comedy, and have a baby addiction...
         </p>
    </div>
    </div>
      <div class="photo col-12 col-lg-4">
        <picture>
          <img src="sofia_blue3.jpg.png" alt="Sofia Photo">
        </picture>
        <style>
          picture { display: none; }

          @media (min-width: 500px) {
            picture {
              display: block;
            }
          }
        </style>
      </div>
    </div>
    <div id="technical-skills">
      <p>
       <em>Technical Skills</em><i class="fas fa-laptop-code"></i>
        <br>
       Ruby, Ruby on Rails, ES6 JavaScript, CSS, SCSS, Bootstrap, HTML, GIT and workflow, APIs, JSON/XML, <br> scraping, Python scraping,  Webpack, SQL, Postgres, Heroku.
      </p>
  </div>
</div>
