<div id="about-container">
  <div class="wrapper">
    <h2>About Me</h2>
    <div id="about-height-container">
      <p>
          I am a Junior Frontend developer based in Berlin and Leipzig, Germany; lover of human and machine languages alike.
          As a graduate of Le Wagon Coding bootcamp, my speciality is in building projects
          from the back to front-end. As a Fullstack developer I build beautiful, visually compelling, dynamic websites.
<!--           With my diverse set of skills, I can integrate and work with the backend of a website in a pinch. -->
        <br/><br/>
          Additionally, I love laser tag, speak Arabic, write comedy, and have a baby addiction...
       </p>
    </div>
    <div id="technical-skills">
      <p>
       <em>Technical Skills</em><i class="fas fa-laptop-code"></i>
        <br>
       Ruby, Ruby on Rails, React, ES6 JavaScript, CSS, SCSS, SASS, Bootstrap, HTML, GIT and workflow, APIs, JSON/XML, <br> scraping, Python scraping,  Webpack, SQL, Postgres, Heroku.
      </p>
    </div>
  </div>
</div>

