
<div class="banner">
    <nav class="cd-stretchy-nav">
       <a class="cd-nav-trigger" href="#0">
          <span aria-hidden="true"></span>
       </a>

       <ul>
          <li><a href="#about-container" class="active"><span>About Me</span></a></li>
          <li><a href="#projects-contaner"><span>Portfolio</span></a></li>
          <li><a href="#contact"><span>Contact Me</span></a></li>
       </ul>

       <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </nav>

    <header>
      <div id="scene" class="scene">
        <div data-depth-x=".30" data-depth-y="-.30">Sofia Stephenson</div>
      </div>
      <div class="text-animation">There is no spoon.</div>
    </header>
     <img class="thumbnail" src="alex-perez.jpg" alt="pattern" style="display: flex; justify-content: center; width: 660px; height: 100vh;">
</div>
