<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="banner">
    <header>
      <div id="scene" class="scene">
        <div id="name-header" data-depth-x=".30" data-depth-y="-.30">Sofia Stephenson</div>
      </div>
      <div class="text-animation">Frontend Developer.</div>
      <ul class="links">
        <li><a href="#about-container" class="active"><span>About</span></a></li>
        <li><a href="#projects-container"><span>Portfolio</span></a></li>
        <li><a href="#contact"><span>Hire Me</span></a></li>
      </ul>
    </header>
     <img class="thumbnail" src="alex-perez.jpg" alt="pattern" style="display: flex; justify-content: center; width: 660px; height: 100vh; margin: 0; padding: 0;">
</div>
