<footer id="contact">
  <h2>Contact Me</h2>
   <div id="social-media-links">
        <div id="linkedin">
          <a href="https://www.linkedin.com/in/sofiags"style="text-decoration: none;"><i class="fab fa-linkedin"></i></a>
        </div>
        <div id="github">
          <a href="https://github.com/steph-crypt" style="text-decoration: none;"><i class="fab fa-github-square"></i></a>
        </div>
      </div>
    <p>
      <br>
        sgandsteph@gmail.com
      <br>
        Berlin, Germany
    </p>
    <span class="photo-credit">Photo by  <a href="https://unsplash.com/@a2eorigins?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alex Perez</a>  on <a href="https://unsplash.com/s/photos/alex-perez-patterns?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
</footer>


