<div class="projects-header">
  <div id="projects-banner-section">
    <!-- <div>
      <img class="banner-img-2" src="alex-perez.jpg" alt="Pattern" style="display: flex; justify-content: center; width: 100%; height: 325px;">
    </div> -->

  </div>
</div>
