<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="projects-container" id="projects-anchor">
  <div id="projects">
    <div class="black-bar-horizontal"></div>
      <h2>Projects</h2>
          <div class="black-bar-left"></div>
          <div class="black-bar-right"></div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel interva" data-interval="false">
      <ol class="carousel-indicators img-fluid" id="indicator-override">
        <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleFade" data-slide-to="1"></li>
        <li data-target="#carouselExampleFade" data-slide-to="2"></li>
        <li data-target="#carouselExampleFade" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner img-fluid">
        <div class="carousel-item active">
          <a class="website" href="http://www.taste-budd.com/"><img src="tastebudd-new.png" class="d-block w-100" id="img-override" alt="Tastebudd" style="max-width: 600px; height: 600px; border: 50px solid #61cd72; box-shadow: 0 0 0 10px hsl(0, 0%, 1%), 0 0 0 15px hsl(0, 0%, 34%);
      border-radius: 10px;"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>TasteBudd</h5>
            <p class="caption-text">A MeetUp-like site for Solo Travelers.
                Built using Ruby on Rails, Active Record and PostGreSQL
                with Pundit and Devise for authentication and authorization, APIs, JavaScript,
                JQuery and AJAX for responsive features. TasteBudd was developed in a team of four developers
                at LeWagon coding bootcamp in 2 weeks and continues to evolve.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a class="website" href="http://www.Death-Bed.com/"><img src="deathbed.png" class="d-block w-100" id="img-override" alt="DeathBed" style="max-width: 600px; height: 600px; border: 50px solid #61cd72; box-shadow: 0 0 0 10px hsl(0, 0%, 1%), 0 0 0 15px hsl(0, 0%, 34%);
      border-radius: 10px;"></a>

          <div class="carousel-caption d-none d-md-block">
            <h5>DeathBed</h5>
            <p class="caption-text">DeathBed is a dark satire on AirBnB,
                allowing leasing and renting of graves in Germany.
                Hosts can rent anything from a formal plot in a cemetary,
                to a hole in their backyard and guests can leave reviews from the Great Beyond.
                <br>
                Built using Ruby on Rails, Active Record and PostGreSQL,
                with Pundit and Devise for authentication and authorization.
                Deathbed was developed in a team of four developers at LeWagon coding bootcamp in one week,
                and I later elaborated on it independently.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a class="website" href="https://socktails-cocktails.herokuapp.com/"><img src="socktails.png" class="d-block w-100" id="img-override" alt="Socktails Cocktails" style="max-width: 600px; height: 600px; border: 50px solid #61cd72; box-shadow: 0 0 0 10px hsl(0, 0%, 1%), 0 0 0 15px hsl(0, 0%, 34%);
      border-radius: 10px;"></a>

          <div class="carousel-caption d-none d-md-block">
            <h5>Socktails Cocktails</h5>
            <p class="caption-text">Inspired by Dr. Seuss's "Fox in Socks", Socktails Cocktails is
                a simple MVC Ruby on Rails website that uses Active Record and PostGreSQL.
                Users can find, add, create of their favorite cocktails and socktails.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a class="website" href="https://haunted-keyboard.herokuapp.com/"><img src="haunted-key.png" class="d-block w-100" id="img-override" alt="Haunted Keyboard" style="max-width: 600px; height: 600px; border: 50px solid #61cd72; box-shadow: 0 0 0 10px hsl(0, 0%, 1%), 0 0 0 15px hsl(0, 0%, 34%);
      border-radius: 10px;"></a>

          <div class="carousel-caption d-none d-md-block">
            <h5>Haunted Keyboard</h5>
            <p class="caption-text">Haunted Keyboard is a responsive Vanilla JavaScript app
              that plays eerie sounds from the user's keyboard.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev img-fluid" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next img-fluid" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
