<div class="projects-header">
  <div id="projects-section">
    <div>
      <img class="thumbnail-2" src="alex-perez.jpg" alt="Pattern" style="display: flex; justify-content: center; width: 100%; height: 325px;">
    </div>
    <div class="main-container"></div>
    <div class="main-container-2"></div>
    <div class="main-container-3"></div>
  </div>
</div>
